In [81]:
import seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')
print(titanic.columns) 
#columns: 함수를 이용해 column들의 이름을 확인 할 수 있다.

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [82]:
titanic.info() # info(): 함수를 이용해 각 데이터들의 타입, 결측치 등을 알 수있다.
titanic.head() # head(): 함수를 이용해 데이터 프레임의 첫 5행을 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [83]:
titanic.describe()
# describe : Pandas 데이터프레임의 숫자형 열에 대한 통계 요약 제공

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [84]:
# count : 컬럼별 총 데이터 수
# mean / std : 컬럼별 데이터의 평균 / 표균편차
# min / max : 컬럼별 데이터 최소값 / 최대값
# 25 / 50 / 75% : 백분위수의 각 지점으로, 분포를 반영해 평균을 보완하는 목적으로 사용

In [85]:
print(titanic.isnull().sum())  
# isnull().sum() 함수를 이용하면 각 열의 결측치의 개수가 출력된다.

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [86]:
# Age 열의 결측치를 중앙값으로 대체
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Embarked 열의 결측치를 최빈값으로 대체
# mode()[0] 최빈값의 첫 번째 값을 선택 지정
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

In [87]:
# 결측값 처리 결과 확인
print("Age 열의 결측값 개수:", titanic['age'].isnull().sum())
print("Embarked 열의 결측값 개수:", titanic['embarked'].isnull().sum())

Age 열의 결측값 개수: 0
Embarked 열의 결측값 개수: 0

In [88]:
# Sex(성별) 열을 남자는 0, 여자는 1로 변환
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Alive(생존 여부) 열을 yes는 1, no는 0으로 변환
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})

# Embarked(승선 항구) 열을 'C'는 0, 'Q'는 1, 'S'는 2로 변환
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})

# 변환 후 데이터 확인
print(titanic[['sex', 'alive', 'embarked']].head())

   sex  alive  embarked
0    0      0         2
1    1      1         0
2    1      1         2
3    1      1         2
4    0      0         2

In [89]:
#SibSip(타이타닉호에 동승한 자매 및 배우자의 수), Parch(타이타닉호에 동승한 부모 및 자식의 수)를 통해서 family_size(가족크기)를 생성
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

#생성된 family_size feature 출력
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    int64
 14  alone        891 non-null    bool
 15  family_size  891 non-null    int64
dtypes: bool(2), category(2), float64(2), int64(8), object(2)
memory usage: 87.6+ KB

In [90]:
#Logistic_Regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

#seaborn의 Titanic 데이터 로드
titanic = sns.load_dataset('titanic')

# Age 열의 결측치를 중앙값으로 대체
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Embarked 열의 결측치를 최빈값으로 대체
# mode()[0] 최빈값의 첫 번째 값을 선택 지정
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

# 가족 크기 계산
titanic['family_size'] = titanic['sibsp'] + titanic['parch']


# Sex(성별) 열을 남자는 0, 여자는 1로 변환
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Alive(생존 여부) 열을 yes는 1, no는 0으로 변환
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})

# Embarked(승선 항구) 열을 'C'는 0, 'Q'는 1, 'S'는 2로 변환
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})

#학습에 필요한 feature
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]

#특성 데이터(X)와 타겟 데이터(y) 분리
X = titanic.drop(columns=['survived'], axis=1)  # 특성 데이터 (생존 여부를 제외한 나머지)
y = titanic['survived']  # 타겟 데이터 (생존 여부)

#학습 데이터와 테스트 데이터를 8:2 비율로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#데이터 스케일링
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


#LogisticRegression 분류 모델 생성
lr_model = LogisticRegression(max_iter=100)

#모델 학습
lr_model.fit(X_train_scaled, y_train)

#테스트 데이터로 예측
y_pred =lr_model.predict(X_test_scaled)

# 모델의 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")
print(f"Confusion Matrix:\n{confusion_matrix(y_test, y_pred)}")

Accuracy: 0.8044692737430168
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

Confusion Matrix:
[[90 15]
 [20 54]]

In [91]:
#random_forest
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

#seaborn의 Titanic 데이터 로드
titanic = sns.load_dataset('titanic')

# Age 열의 결측치를 중앙값으로 대체
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Embarked 열의 결측치를 최빈값으로 대체
# mode()[0] 최빈값의 첫 번째 값을 선택 지정
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

# 가족 크기 계산
titanic['family_size'] = titanic['sibsp'] + titanic['parch']


# Sex(성별) 열을 남자는 0, 여자는 1로 변환
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Alive(생존 여부) 열을 yes는 1, no는 0으로 변환
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})

# Embarked(승선 항구) 열을 'C'는 0, 'Q'는 1, 'S'는 2로 변환
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})

#학습에 필요한 feature
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]

#특성 데이터(X)와 타겟 데이터(y) 분리
X = titanic.drop(columns=['survived'], axis=1)  # 특성 데이터 (생존 여부를 제외한 나머지)
y = titanic['survived']  # 타겟 데이터 (생존 여부)

#특성 데이터(X)와 타겟 데이터(y) 분리
X = titanic.drop(columns=['survived'])  # 특성 데이터 (생존 여부를 제외한 나머지)
y = titanic['survived']  # 타겟 데이터 (생존 여부)

#학습 데이터와 테스트 데이터를 8:2 비율로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#데이터 스케일링
scaler = StandardScaler()
X_train_scaled2 = scaler.fit_transform(X_train)
X_test_scaled2 = scaler.transform(X_test)

# RandomForestClassifier 분류 모델 생성
model = RandomForestClassifier(random_state=42)

#모델 학습
model.fit(X_train_scaled2, y_train)

#테스트 데이터로 예측
y_pred = model.predict(X_test_scaled2)

# 모델의 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")
print(f"Confusion Matrix:\n{confusion_matrix(y_test, y_pred)}")

Accuracy: 0.8212290502793296
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.85      0.85       105
           1       0.78      0.78      0.78        74

    accuracy                           0.82       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.82      0.82      0.82       179

Confusion Matrix:
[[89 16]
 [16 58]]

In [92]:
#xgboost
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

#seaborn의 Titanic 데이터 로드
titanic = sns.load_dataset('titanic')

# Age 열의 결측치를 중앙값으로 대체
titanic['age'] = titanic['age'].fillna(titanic['age'].median())

# Embarked 열의 결측치를 최빈값으로 대체
# mode()[0] 최빈값의 첫 번째 값을 선택 지정
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])

# 가족 크기 계산
titanic['family_size'] = titanic['sibsp'] + titanic['parch']

# Sex(성별) 열을 남자는 0, 여자는 1로 변환
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Alive(생존 여부) 열을 yes는 1, no는 0으로 변환
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})

# Embarked(승선 항구) 열을 'C'는 0, 'Q'는 1, 'S'는 2로 변환
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})

#학습에 필요한 feature
titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]

#특성 데이터(X)와 타겟 데이터(y) 분리
X = titanic.drop(columns=['survived'], axis=1)  # 특성 데이터 (생존 여부를 제외한 나머지)
y = titanic['survived']  # 타겟 데이터 (생존 여부)

#학습 데이터와 테스트 데이터를 8:2 비율로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#데이터 스케일링
scaler = StandardScaler()
X_train_scaled3 = scaler.fit_transform(X_train)
X_test_scaled3 = scaler.transform(X_test)


#XGBoost 분류 모델 생성 / 모델 확인 필요
xgb_model = xgb.XGBClassifier(use_label_encoder=False, eval_metric='logloss')

#모델 학습
xgb_model.fit(X_train_scaled3, y_train)

#테스트 데이터로 예측
y_pred_xgb = xgb_model.predict(X_test_scaled3)

#모델의 정확도 평가
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f'XGBoost 모델의 MSE: {mse_xgb}')

# 모델의 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")
print(f"Confusion Matrix:\n{confusion_matrix(y_test, y_pred)}")

XGBoost 모델의 MSE: 0.20670391061452514
Accuracy: 0.8212290502793296
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.85      0.85       105
           1       0.78      0.78      0.78        74

    accuracy                           0.82       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.82      0.82      0.82       179

Confusion Matrix:
[[89 16]
 [16 58]]

C:\Users\USER\anaconda3\envs\study\Lib\site-packages\xgboost\core.py:158: UserWarning: [17:52:03] WARNING: D:\bld\xgboost-split_1727635034975\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [93]:
 #모델 정의
models = {
    'Logistic Regression': LogisticRegression(max_iter=100),
    'Random Forest': RandomForestClassifier(random_state=42),
    'XGBoost' : XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

#모델 학습 및 평가
results = {}
for model_name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    
    results[model_name] = {
        'Accuracy': accuracy_score(y_test, y_pred),
        'Precision': precision_score(y_test, y_pred),
        'Recall': recall_score(y_test, y_pred),
        'F1 Score': f1_score(y_test, y_pred)
    }

results_df = pd.DataFrame(results).T


results_df

C:\Users\USER\anaconda3\envs\study\Lib\site-packages\xgboost\core.py:158: UserWarning: [17:52:04] WARNING: D:\bld\xgboost-split_1727635034975\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

                     Accuracy  Precision    Recall  F1 Score
Logistic Regression  0.804469   0.782609  0.729730  0.755245
Random Forest        0.821229   0.783784  0.783784  0.783784
XGBoost              0.793296   0.746667  0.756757  0.751678